body::-webkit-scrollbar {
  width: 6px !important;
  height: 10px !important;
}

body::-webkit-scrollbar-track {
  background: white !important;
}
body::-webkit-scrollbar-thumb {
  background: brown;
}

.contenairAcess {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/argentCaisse.jpg");
  height: 300px;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.masque {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  position: absolute;
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
}

.sous-contenairAcess {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sous-contenairAcess img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.navlink {
  display: flex;
  gap: 20px;
}
.accueil {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  color: white;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  background: transparent;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  display: inline-block;
}
.accueil:hover {
  background: #e53935;
  transition: background 0.8s ease;
}
.navlink img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}
.flecheUp {
  width: 35px !important;
  height: 35px !important;
  object-fit: cover;
  cursor: pointer;
  transform: translate3d(0, 12px, 0);
}
.blocFlecheMain {
  position: absolute;
  width: 100px;
  height: 80px;
  border-radius: 20px;
  padding: 10px;
  background: white;
  cursor: pointer;
  right: 20px;
  top: 150px;
  display: none;
  gap: 10px;
}
.blocFlecheMain:hover {
  background: #e53935;
  color: white;
  transition: background 0.8s ease;
  transition: color 0.8s ease;
}
.connexion {
  text-decoration: none;
  list-style-type: none;
}
.deconnexion {
  text-decoration: none;
  list-style-type: none;
}
.brown {
  color: blue;
}

/****fin de la navbar***/
.Footer {
  position: relative;
}

.footer {
  background: black;
  width: 100%;
  height: 200px;
  transform: translate3d(0, 300px, 0);
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  z-index: -1;
  position: absolute;
}
.footerImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  display: flex;
  margin: auto;
}
.footerp {
  display: flex;
  margin: auto;
  color: white;
}

/****responsive caisse zero****/
@media all and (min-width: 320px) and (max-width: 767px) {
  .masque {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    padding-bottom: 40px !important;
  }
  .sous-contenairAcess {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px !important;
  }
  .sous-contenairAcess img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
  .navlink {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .blocFlecheMain {
    position: absolute;
    width: 100px;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
    background: white;
    cursor: pointer;
    right: 50px;
    top: 150px;
    display: none;
    gap: 10px;
  }
  .accueil {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    color: white;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    background: transparent;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    display: inline-block;
  }
  .flecheMain {
    width: 20px !important;
    height: 20px !important;
    transform: translate3d(0, 10px, 0);
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .masque {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    padding-bottom: 40px !important;
  }
  .sous-contenairAcess {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .sous-contenairAcess img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
  }
  .navlink {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .blocFlecheMain {
    position: absolute;
    width: 200px;
    height: 120px;
    border-radius: 20px;
    padding: 10px;
    background: white;
    cursor: pointer;
    right: 50px;
    top: 100px;
    display: none;
    gap: 10px;
    font-size: 25px;
  }
  .accueil {
    text-decoration: none;
    list-style-type: none;
    font-size: 23px;
    color: white;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    background: transparent;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    display: inline-block;
  }
  .flecheMain {
    width: 20px !important;
    height: 20px !important;
    transform: translate3d(0, 10px, 0);
  }
  .footerImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    display: flex;
    margin: auto;
  }
  .footerp {
    display: flex;
    margin: auto;
    color: white;
    font-size: 25px;
  }
  .footer {
    background: black;
    width: 100%;
    height: 350px;
    transform: translate3d(0, 300px, 0);
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    z-index: -1;
    position: absolute;
  }
}
