.connexionn {
  border-radius: 5px;
  background-color: black;
  width: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 430px;
  position: fixed;
  top: 15%;
  left: 20%;
  display: none;
  padding-bottom: 100px;
}

.connexionnRight {
  border-radius: 5px;
  background-color: black;
  width: 20%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 340px;
  position: fixed;
  top: 20%;
  right: 15%;
  display: none;
  padding-bottom: 100px;
}
.forgetmdp {
  padding-top: 30px;
  text-decoration: none;
  color: orange;
}
.close {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.space {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form label {
  color: white;
  font-size: 20px;
  font-weight: 100;
}
form input {
  border: 0.8px solid #ccc;
  outline: none;
  padding: 8px;
}
.keyemail {
  margin: 0;
  padding: 8px;
  width: 260px;
  border-radius: 8px;
  font-size: 20px;
  height: 30px;
}
.password {
  margin: 0;
  padding: 8px;
  width: 260px;
  border-radius: 8px;
  font-size: 20px;
  height: 30px;
}
.btn-submit {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin: 0;
  border-radius: 15px;
  cursor: pointer;
  margin: auto;
  color: orange;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.formErrors {
  color: orange;
  opacity: 0.7;
}
/* .envoiFormulaire {
  font-size: 20px;
  font-weight: bold;
  color: white;
  transform: translate3d(0, 20px, 0);
  padding: 11px;
  height: 40px;
  border: none;
  background-color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */
small {
  color: orange;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  ::placeholder {
    font-size: 15px;
  }
  .btn-submit {
    outline: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 15px 23px;
    margin: 0;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    color: orange;
  }

  .connexionn {
    border-radius: 5px;
    background-color: black;
    width: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 430px;
    position: fixed;
    top: 10%;
    left: 30px;
    display: none;
    padding-bottom: 100px;
  }

  .connexionnRight {
    border-radius: 5px;
    background-color: black;
    width: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 330px;
    position: fixed;
    top: 10%;
    left: 30px;
    display: none;
    padding-bottom: 100px;
  }
  .keyemail {
    margin: 0;
    padding: 8px;
    width: 240px;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
  }
  .password {
    margin: 0;
    padding: 8px;
    width: 240px;
    border-radius: 8px;
    font-size: 20px;
    height: 30px;
  }
  .forgetmdp {
    color: red;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .connexionn {
    border-radius: 5px;
    background-color: black;
    width: 60% !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 720px !important;
    position: fixed;
    top: 10%;
    left: 120px !important;
    display: none;
    padding-bottom: 100px;
  }

  .connexionnRight {
    border-radius: 5px;
    background-color: black;
    width: 60% !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 600px !important;
    position: fixed;
    top: 10%;
    left: 120px !important;
    display: none;
    padding-bottom: 100px;
  }
  .keyemail {
    margin: 0;
    padding: 8px;
    width: 400px !important;
    border-radius: 8px;
    font-size: 20px;
    height: 70px;
  }
  .password {
    margin: 0;
    padding: 8px;
    width: 400px;
    border-radius: 8px;
    font-size: 20px;
    height: 70px;
  }
  .space {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  form label {
    color: white;
    font-size: 30px;
    font-weight: 100;
  }
  ::placeholder {
    font-size: 25px !important;
  }
  small {
    color: orange !important;
    font-size: 20px !important;
  }
  .btn-submit {
    outline: none;
    text-transform: capitalize;
    font-size: 1.4rem !important;
    padding: 15px 23px;
    margin: 0;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    color: orange;
  }
  .formErrors {
    color: orange;
    opacity: 0.7;
    font-size: 24px;
  }
  .forgetmdp {
    font-size: 24px;
  }
}
