.contenair {
  position: relative;
}

/****responsive caisse zero****/

@media all and (min-width: 320px) and (max-width: 767px) {
  .contenair {
    position: relative !important;
  }
  .imagelogocaissezeroo {
    height: 100vh !important;
    object-fit: cover;
    border-radius: 15px;
  }
  .newlogocaissezero {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
    border-radius: 100%;
    position: absolute;
    left: 100px !important;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .contenair {
    position: relative !important;
  }
  .imagelogocaissezeroo {
    height: 100vh !important;
    object-fit: cover;
    border-radius: 15px;
  }
  .newlogocaissezero {
    width: 250px !important;
    height: 250px !important;
    object-fit: cover !important;
    border-radius: 100%;
    position: absolute;
    left: 500px !important;
  }
}
